html {
  font-size: 10px;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.states {
  fill: none;
}

.tooltip {
  position: absolute;
  font-size: 1.5rem;
  background: lightyellow;
  padding: 3px;
  border-radius: 2px;
}

#footer {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
}

#footer > p {
  margin-right: 10px;
}

#title {
  font-size: 2.5rem;
  padding: none;
  margin-bottom: 0;
}

#description {
  font-size: 1.8rem;
  padding-top: 0;
  padding-bottom: 0;
}

.intro {
  position: absolute;
  overflow: hidden;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 120px;
  width: 100%;
}


#svg-container {
  position: absolute;
  overflow: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 120px;
  bottom: 50px;
}
